/*
    Document   : admin
    Created on : 25 juil. 2012, 23:17:11
    Author     : fabrice
    Description:
        Purpose of the stylesheet follows.
*/

td, th {
    border: solid black 1px;
}

h1 {
    background-color: lightblue;
}

.adminform input:focus, 
.adminform textarea:focus, 
.adminform select:focus {
    background-color: lightblue;
}

.leftpart {
    float:left;
    width: 33%;
}

.rightpart {
    margin-left: 33%;
    clear:right;
}

.rightpart table {
    width: 100%;
}

textarea {
    width: 100%;
}

select[multiple='multiple'] {
    width: 100%;
}
