#modificators {
    width: 100%;
}

#quantity {
    width: 49%;
    float: left;
}

#promo {
    margin-left: 50%;
    width: 50%;
}

#choice {
    width: 50%;
    background-color: #00f7ff;
    float:left;
}

.touchpad {
    width: 99%;
    border: solid black 1px;
    padding: 2px 0px;
}


#bill {
    margin-left: 50%;
    width: 50%;
    background-color: #00ff07;
}
input[type=button] {
    width: 24%;
    height: 100px;
}

h6 {
    font-size: inherit;
    margin: 0px;
    padding: 0px;
}

#modificators {
}

.button {
    display: inline-block;
    width: 24%;
    height: 100px;
    background-color: buttonface;
    border: outset black 1px;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
}

.highlight {
    background-color: buttonhighlight;
    font-weight: bold;
}

