#choice {
    width: 49%;
    /*background-color: #00f7ff;*/
    float:left;
}

.touchpad {
    width: 100%;
    border: solid black 1px;
    padding: 2px 0px;
}
.touchpad input[type=button] {
    width: 24%;
    height: 100px;
}

#bill {
    width: 50%;
    /*background-color: #00ff07;*/
    margin-left: 50%;
}
#bill input[type=button] {
    width: 20%;
    height: 100px;
}

