/* 
    Document   : style
    Created on : 13 oct. 2012, 23:53:11
    Author     : fabrice
    Description:
        Purpose of the stylesheet follows.
*/

body {
    padding-top: 70px;
}

.chart {
    width : 100%;
    max-width: 1400px;
    height: 400px;
}

.pie {
    width : 100%;
    max-width: 1400px;
    height: 800px;
}

/*
.menu a {
    color: black;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    border-style: outset;
}

.menu a:hover,
.menu a:focus {
    background-color: lightgrey;
}

.menu a:active {
    border-style: inset;
}

.menu li.active a {
    background-color: aquamarine;
}

.menu ul li {
    display: inline;
    margin-left: 20px;
}

td, th {
    border: solid black 1px;
}

h1 {
    background-color: lightblue;
}

td.currency-cell, td.numeric-cell {
    text-align: right;
}
*/

